header {
    height: 10vh;
    min-width: 100%;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    padding-left: 3vh;
    background-color: #f2f2f2 ;
    flex: 1;
}

.description{

    border: 2px solid black;
    width: 50%;
}
